<div>
    <table class="table" style="margin-bottom: 0;">
        <tbody>
        <tr ng-repeat="a in files">
            <td><strong><i class="fa fa-paperclip"></i> {{a.name}}</strong></td>
            <td></td>
            <td>
                <div class="btn btn-xs btn-danger pull-right" ng-click="removeAttachment(a)">
                    <i class="fa fa-trash-o" confirm="是否确定?"></i> 删除
                </div>
            </td>
        </tr>
        <tr ng-repeat="item in uploader.queue">
            <td>
                <strong><i class="fa fa-paperclip"></i> {{item.file.name}}</strong>
            </td>
            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024|number:2 }}
                KB
            </td>
            <td ng-show="uploader.isHTML5">
                <div class="progress progress-small" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
            </td>
            <td class="text-center">
                <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
                <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
                <span ng-show="item.isError"><i class="fa fa-remove"></i></span>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="file" class="form-control" nv-file-select uploader="uploader" multiple/>
</div>
