
<div class="row page-container" style="background-color: #FFF;">
  <div class="col-xs-12 col-lg-offset-3 col-lg-6" fullscreen>
    <div class="ibox" style="padding: 30px 20px">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4" style="text-align: center">
          <img ng-src="images/logo@2x.png">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="text-align: center;margin: 10px 0 40px;color: #00C6a2;">
          <h3>医生进修申请服务</h3>
        </div>
      </div>
      <hr style="margin:0 -20px ;"/>
      <div class="row" style="position: relative">
        <div class="col-xs-4 col-xs-offset-4 line-font">
          <p>修改密码</p>
        </div>
      </div>
      <form action="" method="post" id="submit"></form>
      <input class="_input" type="tel" form="submit" id="tel" placeholder="手机号码" required ng-model="vm.user.mobile"><br>
      <input class="_input" type="password" form="submit" id="password" placeholder="登录密码" required ng-model="vm.user.password">
      <input class="_input" type="text" form="submit" id="code" placeholder="验证码" required ng-model="vm.user.code">
      <!--<button type="button" class="code" onclick="getCode()">获取验证码</button>-->
      <div class="code" ng-click="vm.code()" >{{vm.paracont}}</div>
      <div style="clear: both"></div>
      <div id="submit-button" ng-click="vm.changePassword()" class="btn btn-primary" style="padding: 0">修改密码</div>
      <!--<button type="submit" form="submit" id="submit-button" onclick="">登录</button>-->
    </div>
    <div class="footer">
      <p class="m-t text-center">
        <small> 北京丛林网络技术有限责任公司</small><br/>
        <small>服务电话:4000687626&nbsp;服务邮件:service@conglinnet.com</small>
      </p>
    </div>
  </div>
</div>


