
<div class="row page-container" style="background-color: #FFF;margin: 0;">
  <div class="col-xs-12 col-lg-offset-3 col-lg-6" fullscreen="">
    <div class="ibox" style="padding: 30px 20px">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4" style="text-align: center">
          <img ng-src="images/logo@2x.png">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="text-align: center;margin: 10px 0 40px;color: #00C6a2;">
          <h3>申请移动进修招生管理系统服务</h3>
        </div>
      </div>
      <form class="form-horizontal" novalidate>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="text" placeholder="请输入招生单位名称"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="text" placeholder="请输入联系人"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="text" placeholder="请输入手机号"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <button type="button" class="btn btn-primary btn-block full-width">提交</button>
          </div>
        </div>
      </form>

    <div class="footer">
      <p class="m-t text-center">
        <small>医学会管理平台 &copy;2015 北京丛林网络技术支持</small>
      </p>
    </div>
  </div>
</div>


